.grid-container {
	max-width: 100%;
	overflow-x: auto;
	margin-top: 20px;
}

.header-table {
	display: grid;
	grid-template-columns: 12% 17% 20% 12% 1fr;
	gap: 1px;
}

.header-cell {
	padding: 10px;
	color: var(--table-header-color);
	background-color: var(--table-header-background-color);
	font-size: var(--table-header-font-size);
	font-weight: var(--table-header-font-weight);
}
